@import url("https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap");
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Sorts Mill Goudy", serif;
}

html {
    width: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: aliceblue;
}

/* width */
::-webkit-scrollbar {
    width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #03192e;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #afafaf;
}

.label-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.mt-s {
    margin-top: 15px;
}

.mt-m {
    margin-top: 25px;
}

.mt-l {
    margin-top: 35px;
}

.fs {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.fs-h3 {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
}

.text-color-g {
    color: #c7c7ca;
}

.home-content {
    height: 100vh;
    width: 100%;
}

/* Cube Animation */
.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -999;
}

@keyframes animate {
0% {
    opacity: 1;
    border-radius: 0;
    transform: translateY(0) rotate(0deg);
}
100% {
    opacity: 1;
    border-radius: 50%;
    transform: translateY(-1200px) rotate(720deg);
}
}

.circles div {
position: absolute;
display: block;
width: 20px;
height: 20px;
background: rgba(10, 24, 68, 0.733);
bottom: -150px;
animation: animate 25s linear infinite;
}

.circles div:nth-child(1) {
left: 25%;
width: 80px;
height: 80px;
animation-delay: 0s;
}
.circles div:nth-child(2) {
left: 10%;
width: 20px;
height: 20px;
animation-delay: 12s;
}
.circles div:nth-child(3) {
left: 70%;
width: 20px;
height: 20px;
animation-delay: 4s;
}
.circles div:nth-child(4) {
left: 40%;
width: 60px;
height: 60px;
animation-delay: 0s;
animation-duration: 18s;
}
.circles div:nth-child(5) {
left: 65%;
width: 20px;
height: 20px;
animation-delay: 0s;
}
.circles div:nth-child(6) {
left: 75%;
width: 45px;
height: 45px;
animation-delay: 3s;
}
.circles div:nth-child(7) {
left: 35%;
width: 38px;
height: 38px;
animation-delay: 7s;
}
.circles div:nth-child(1) {
left: 25%;
width: 80px;
height: 80px;
animation-delay: 0s;
}
.circles div:nth-child(8) {
left: 50%;
width: 25px;
height: 25px;
animation-delay: 0s;
animation-duration: 45s;
}
.circles div:nth-child(9) {
left: 20%;
width: 15px;
height: 15px;
animation-delay: 2s;
animation-duration: 35s;
}

.circles div:nth-child(10) {
left: 85%;
width: 50px;
height: 50px;
animation-delay: 0s;
animation-duration: 11s;
}

/* End of Cube Animation */

.navbar {
    margin-bottom: 130px;
}

.navbar-content {
display: flex;
justify-content: space-around;
align-items: center;
width: 100%;
height: 70px;
}

#hamburger-menu {
display: none;
cursor: pointer;
}

.hamburger-menu-content{
    color: rgb(0, 0, 0);
    position: absolute;
    top: 50px;
    background-color: #03192ed0;
    width: 100%;
    color: white;
    padding: 5px 50px;
    display: none;
}

.hamburger-menu-content a{
    text-decoration: none;
    color: white;
}

.hamburger-menu-content a:hover{
    text-decoration: underline;
}

.logo span {
font-size: 30px;
font-weight: bold;
color: #000000;
}

.logo a {
text-decoration: none;
}

.a-links ul {
list-style: none;
display: inline-block;
margin: 0px 20px;
}

.a-links ul li a {
color: #000000;
text-decoration: none;
font-size: 17px;
font-weight: 700;
}

.a-links ul li a:hover {
text-decoration: underline;
}

.contact-me a {
text-decoration: none;
font-weight: bold;
color: black;
font-size: 17px;
padding: 8px 25px;
border: 1px solid black;
}

.contact-me a:hover {
color: #fff;
background-color: black;
}

/* Home Info Content */
.home-content-section {
margin: auto;
display: flex;
align-items: center;
/* height: 450px; */
max-width: 1500px;
padding: 0 20px;
}

.home-my-info {
width: 53%;
}
.home-my-info p {
font-size: 45px;
line-height: 55px;
word-spacing: 10px;
letter-spacing: 5px;
font-weight: bold;
}

#home-my-skills {
font-size: 18px;
font-weight: bold;
display: block;
margin-top: 15px;
margin-bottom: 50px;
color: #4b4848;
}

#my-cv {
color: #fff;
text-decoration: none;
padding: 15px 36.4px;
background: #03192e;
border: 1px solid #03192e;
font-weight: bold;
}

#my-cv:hover {
color: black;
background-color: aliceblue;
}

.home-my-info-btns{
    display: flex;
    flex-wrap: wrap;
}

#my-project-discussion {
text-decoration: none;
font-weight: bold;
color: black;
padding: 15px 15px;
border: 1px solid black;
}

#my-project-discussion:hover {
color: white;
background-color: black;
}

.home-my-pic {
display: flex;
justify-content: flex-end;
height: 100%;
width: 50%;
}

.home-my-pic img {
height: 100%;
width: 450px;
}

.home-scripts {
    margin-top: 10px;
    height: 100px;
    width: 100%;
    background-color: #03192e;
    transform: skewY(-2deg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    flex-wrap: wrap;
}

.home-scripts p {
color: #fff;
font-size: 15px;
}

.social-media-links {
display: flex;
margin-top: 35px;
}

.social-media-links a {
color: #03192e;
text-decoration: none;
margin-right: 10px;
}

/* End of Home Info Content */

/* About Content */

.about-content {
max-width: 1500px;
margin: auto;
padding: 0 20px;
}

.header-content {
display: flex;
place-content: center;
font-size: 17px;
margin-bottom: 25px;
}

.dot-line {
display: flex;
align-items: center;
}

#about-me {
font-size: 19px;
text-indent: 75px;
color: #565360;
text-align: justify;
line-height: 25px;
}

.about-me-skills {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
margin: auto;
}

.skill-cards {
text-align: center;
width: 150px;
padding: 20px;
margin: 10px;
border-radius: 5px;
background-color: white;
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
transition: transform 0.2s ease-in;
}

.skill-cards:hover {
transform: translateY(-15px);
}

.skill-cards img {
height: 70px;
width: 70px;
}

h4 {
color: black;
}

.schools-experience {
margin: auto;
display: flex;
justify-content: center;
}

.my-education {
padding: 40px;
}

.my-relevant-experience {
padding: 40px;
}

.schools-experience ul {
    position: relative;
    list-style: none;
}

.schools-experience ul li{
    margin-bottom: 13px;
}

.schools-experience ul li p:first-child {
font-size: 19px;
font-weight: 500;
letter-spacing: 1px;
margin-left: 25px;
margin: 0;
margin-bottom: 5px;
}

.schools-experience ul li p:not(:first-child) {
color: #565360;
letter-spacing: 1px;
margin-left: 25px;
margin: 0;
max-width: 400px;
}

.about-me-friends {
width: 100%;
}

.testimonial-card {
margin: auto;
max-width: 900px;
height: 400px;
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
display: flex;
position: relative;
background: #f0f2f0; /* fallback for old browsers */
background: -webkit-linear-gradient(
    to right,
    #000c40,
    #f0f2f0
); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(
    to right,
    #000c40,
    #f0f2f0
); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.testimonial-card-image {
height: 100%;
width: 300px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-right: 1px solid #dddddd28;
color: #fff;
}

.testimonial-card-image img {
height: 100px;
width: 120px;
border-radius: 50%;
margin-bottom: 10px;
}

.testimonial-card-message {
height: 100%;
width: 600px;
padding: 50px;
display: flex;
align-items: center;
}

.t-message {
font-size: clamp(14px, 3vw, 22px); /* Responsive font size using clamp */
}

.t-quotation {
font-size: 50px;
font-family: "Courier New", Courier, monospace;
}

.t-q-f {
position: absolute;
top: 29px;
}

.t-q-e {
position: absolute;
bottom: 0;
right: 49px;
}

/* End of About Content */

/* Works Content */
.works-content {
    margin: 50px 0;
    position: relative;
}

.works-content::before {
    content: '';
    position: absolute;
    height: 100px;
    right: 0;
    left: 0;
    background: #03192e;
    color: white;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

.works-content .header-content h2{
    position: absolute;
    top: 35px;
}

.works-img-content{
    max-width: 1600px;
    margin: auto;
    padding: 150px 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}

.img-card{
    max-width: 500px;
    margin: 10px;
}

.img-card img{
    width: 100%;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    transition: .2s;
}

.img-card-content{
    padding: 20px;
    background-color: #03192ed3;
    color: #ffffff;
}
/* Contact Content */

.contact-content {
position: relative;
width: 100%;
height: 100%;
padding-bottom: 70px;
background-color: #03192ed3;
}

.contact-content::before {
content: "";
position: absolute;
top: 0;
width: 100%;
height: 25%;
background-color: aliceblue;
z-index: 1;
border-radius: -1px 50px 50% 50%;
overflow-y: hidden;
}

.contact-email {
position: relative;
height: 600px;
max-width: 1200px;
margin: auto;
display: flex;
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
rgba(0, 0, 0, 0.22) 0px 15px 12px;
border-radius: 20px 20px 0 0;
z-index: 1;
}

.contact-email-header {
height: 100%;
min-width: 400px;
border-top-left-radius: 20px;
background-color: #03192e;
padding-top: 50px;
color: black;
z-index: 3;
}

.email-header-content {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
padding: 0 30px;
}

.email-header {
font-size: 27px;
font-weight: bold;
color: #fff;
}

.email-header-content:after {
content: "";
position: absolute;
height: 150px;
width: 190px;
background-color: #3498db;
border-top-right-radius: 100% 100%;
bottom: 0;
left: 0;
overflow-y: hidden;
opacity: 0.8;
z-index: -1;
}

.email-header-content:before {
content: "";
position: absolute;
height: 75px;
width: 75px;
background-color: #34db74;
border-radius: 50%;
bottom: 75px;
left: 100px;
overflow-y: hidden;
opacity: 0.8;
z-index: 1;
}

.contact-email-content {
height: 100%;
width: 100%;
border-top-right-radius: 20px;
background-color: aliceblue;
padding: 50px;
}

.email-group {
display: flex;
}

.email-group-content {
    width: 100%;
max-width: 350px;
margin-bottom: 10px;
padding: 10px;
}
.email-group-content label {
font-size: 18px;
display: block;
color: #565360;
}

.email-group-content input {
height: 38px;
width: 100%;
border-radius: 5px;
border: 1px solid #bebdbd;
font-size: 18px;
text-align: center;
color: #565360;
}

.email-group-submit {
margin-top: 50px;
padding: 10px;
}

.email-group-submit button {
font-size: 15px;
padding: 10px 50px;
color: white;
background-color: #3498db;
border: 1px solid #3498db;
border-radius: 5px;
}

.email-group-submit button:hover {
opacity: 0.7;
cursor: pointer;
}

/* End of Contact Content */

/* Buy me a coffee */
.buy-me-a-coffee{
    max-width: 1500px;
    margin: auto;
    padding: 0 20px;
}

.coffee-content{
    display: flex;
    margin-top: 25px;
    margin-bottom: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.coffee-content-qr{
    max-width: 660px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    justify-content: center;
}
/* Buy me a coffee content */

/* Footer */
footer {
position: relative;
width: 100%;
background-color: #03192e;
}

.footer-social-links {
display: flex;
justify-content: center;
/* margin: auto; */
}

.footer-social-links a i {
color: white;
margin: 10px;
}

.footer-copy-right {
height: 5vh;
width: 100%;
background-color: aliceblue;
bottom: 0;
display: flex;
align-items: center;
justify-content: center;
}

.footer-logo {
display: flex;
justify-content: center;
padding: 15px 0;
}

.footer-logo span {
font-size: 30px;
font-weight: bold;
color: #ffffff;
}

.footer-logo a {
text-decoration: none;
}

.footer-info {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: justify;
    padding-bottom: 10px;
}

.footer-personal-info {
    color: #c7c7ca;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-personal-about-potfolio {
    color: #c7c7ca;
    width: 300px;
    display: flex;
}

.footer-personal-test {
    display: flex;
    width: 300px;
    color: #c7c7ca;
    justify-content: center;
}

/* End of Footer */

/* Media Queries */
@media only screen and (max-width: 650px) {
    .navbar {
        width: 100%;
        height: 50px;
        background-color: #03192e;
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
    }

    .navbar-content {
        display: none;
    }

    #hamburger-menu {
        display: block;
        color: rgb(255, 255, 255);
        font-size: 25px;
        margin-left: 25px;
    }

    .schools-experience {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .my-education,
    .my-relevant-experience {
        padding: 10px 0;
    }

    .home-content-section{
        margin-top: 120px;
    }

    .home-my-info p{
        font-size: 26px;
    }

    #my-cv, #my-project-discussion{
        font-size: 12px;
        margin-bottom: 5px;
    }

    #my-project-discussion{
        padding-right: 25px;
    }

    .header-content h2{
        font-size: 21px;
    }

    .about-description #about-me{
        font-size: 17px;
    }

    .label-header{
        font-size: 18px;
    }

    .my-education ul li p{
        font-size: 14px;
    }
}

@media only screen and (max-width: 450px) {
    html{
        min-width: 450px;
    }
}

@media only screen and (max-width: 1200px) {
    .contact-email-header{
        display: none;
    }

    .contact-email-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 20px;
        border: 1px solid #ddd;
    }

    .contact-email{
        box-shadow: none;
    }
}

@media only screen and (max-width: 952px){

    .home-content{
        height: auto;
    }

    .home-scripts{
        /* position: absolute; */
        transform: skewY(0);
        padding: 0 5px;
        margin-top: -5px;
    }
    .home-scripts p{
        padding: 5px;
        font-size: 12px;
    }

    .home-content-section{
        display: flex;
        flex-direction: column;
    }

    .home-my-info{
        width: 100%;
    }

    .navbar{
        margin-bottom: 50px;
    }
    
    .home-my-pic{
        justify-content: center;
    }

    .about-content{
        margin-top: 15px;
    }
}

/* End of Media Queries */
